<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="spacer">
    <a>
<!--    <mat-icon ></mat-icon>-->
      <img src="assets/discoLogo.jpg" class="disco-logo">
    </a>
    </span>
    <span (click)="routeToHome()" [matTooltip]="'return home'">Discovery Healthy Company 2.0</span>
    <span class="spacer"></span>
    <span><button mat-raised-button color="primary"
                  (click)="routeToJournal()">Add new Journal Entry</button>
                                 </span>
    <span class="spacer"><button mat-raised-button color="primary" (click)="routeToAbout()">About</button></span>
    <span class="example-spacer"></span>
    <span><button mat-raised-button color="primary" (click)="settings.showDialog()"><img src="assets/settings.png"
                                                                                         class="icon-size"></button></span>
    <span><button mat-raised-button color="primary" (click)="routeToLogin()"><img src="assets/logout.png"
                                                                                  class="icon-size"></button></span>
  </mat-toolbar-row>
</mat-toolbar>
