<div class="modal-header modal-header-item banner">
  <h4 class="modal-title text-center">{{ 'How Are You Feeling Today?' }}</h4>
</div>
<div>
  <table class="table">
    <tbody>
    <tr>
      <td class="text-center">
        <a (click)="setFeelings('happy')"><img src="assets/moods/happy.png" class="my-class"></a>
      </td>
      <td class="text-center">
        <a (click)="setFeelings('joy')"><img src="assets/moods/joy.png" class="my-class"></a>
      </td>
      <td class="text-center">
        <a (click)="setFeelings('proud')"><img src="assets/moods/proud.png" class="my-class"></a>
      </td>
    </tr>
    <tr>
      <td class="text-center">
        <a (click)="setFeelings('sadness')"><img src="assets/moods/sadness.png" class="my-class"></a>
      </td>
      <td class="text-center">
        <a (click)="setFeelings('fear')"><img src="assets/moods/fear.png" class="my-class"></a>
      </td>
      <td class="text-center">
        <a (click)="setFeelings('embarrassment')"><img src="assets/moods/embarrassment.png" class="my-class"></a>
      </td>
    </tr>
    <tr>
      <td class="text-center">
        <a (click)="setFeelings('worry')"><img src="assets/moods/worry.png" class="my-class"></a>
      </td>
      <td class="text-center">
        <a (click)="setFeelings('anger')"><img src="assets/moods/anger.png" class="my-class"></a>
      </td>
      <td class="text-center">
        <a (click)="setFeelings('upset')"><img src="assets/moods/upset.png" class="my-class"></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
