<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/home">
<!--        <img src="src/assets/MicrosoftTeams-image (6).png" width="30" height="30" class="d-inline-block" alt="">-->
    <strong class="text-uppercase" style="padding-left: 50px; padding-bottom: 50px; color: white">Discovery Healthy
      Company 2.0</strong>
  </a>
  <div style="padding-top: 14px">
    <a style="color: white" href="#">Add New Journal Entry</a>
    <a style="color: white; padding-left: 10px" href="#">About</a>
  </div>
<!--  <div style="alignment: right">-->
<!--    <button class="btn btn-outline-success" href="/login" style="alignment: right"><strong>Logout</strong></button>-->
<!--  </div>-->
</nav>
